@font-face{
    font-family: Amble;
    src: url('font/amble/amble-regular/amble-regular.woff2') format('woff2'),
         url('font/amble/amble-regular/amble-regular.woff') format('woff');
    font-style:normal;
    font-weight:normal;
}
@font-face{
    font-family: Amble;
    src: url('font/amble/amble-italic/amble-italic.woff2') format('woff2'),
         url('font/amble/amble-italic/amble-italic.woff') format('woff');
    font-style:italic;
    font-weight:normal;
}
@font-face{
    font-family: Amble;
    src: url('font/amble/amble-bold/amble-bold.woff2') format('woff2'),
         url('font/amble/amble-bold/amble-bold.woff') format('woff');
    font-style:normal;
    font-weight:bold;
}
@font-face{
    font-family: Amble;
    src: url('font/amble/amble-bold-italic/amble-bold-italic.woff2') format('woff2'),
         url('font/amble/amble-bold-italic/amble-bold-italic.woff') format('woff');
    font-style:italic;
    font-weight:bold;
}
//------//
@font-face{
    font-family: Chivo;
    src: url('font/chivo/chivo-regular/chivo-regular.woff2') format('woff2'),
         url('font/chivo/chivo-regular/chivo-regular.woff') format('woff');
    font-style:normal;
    font-weight:normal;
}
@font-face{
    font-family: Chivo;
    src: url('font/chivo/chivo-italic/chivo-regular-italic.woff2') format('woff2'),
         url('font/chivo/chivo-italic/chivo-regular-italic.woff') format('woff');
    font-style:italic;
    font-weight:normal;
}
@font-face{
    font-family: Chivo;
    src: url('font/chivo/chivo-black/chivo-black.woff2') format('woff2'),
         url('font/chivo/chivo-black/chivo-black.woff') format('woff');
    font-style:normal;
    font-weight:bold;
}
@font-face{
    font-family: Chivo;
    src: url('font/chivo/chivo-black-italic/chivo-black-italic.woff2') format('woff2'),
         url('font/chivo/chivo-black-italic/chivo-black-italic.woff') format('woff');
    font-style:italic;
    font-weight:bold;
}