.container{
    position: relative;
    width: 100% !important;
    height: 100%;
}

#aside, .content{
    display: inline-block;
    vertical-align: top;
    height: 100%;
}

@media print{
    body{
        background-color: #fff;
    }
    .topmenu{
        display: none;
    }
    #header{
        
    }
    #aside{
        display: none;
    }
    .breadcrumb, #hierarchie{
        display: none;
    }
    #menu-sommaire, .tuiles .content .rubriques{
        display:none;
    }
    .content{
        width: 100%;
        padding: 0;
        margin: 0;
        max-width: 100%;
        section, article{
            max-width: 100%;
        }
        .main, footer{
            max-width: 100%;
        }
    }
}


@media (max-width: 1200px) {
    #menu-sommaire{
        .btn-title{
            font-size: 0.5em !important;
        }
    }
}

@media (max-width: 1100px) {
    #menu-sommaire, .tuiles .content, .outils-libres .content{
        .btn-title{
            display: none !important;
        }
        .menu-rubriques, .rubriques{
            ul li a{
                height: 75px !important;
            }
        }
        .menu-accueil, .menu-outils{
            ul li a{
                height: 46px !important;
            }
        }
    }
}

@media (max-width: 1070px) {
    body{
        font-size: 0.8em;
    }
}

@media (max-width: 1000px) {
    #menu-sommaire, .outils-libres .content .menu-outils{
        display: none !important;
    }
}

@media (max-width: 950px) {
    #aside{
        width: 210px !important;
        .formulaire_recherche{
            input{
                width: ~'calc(100% - 28px - 26px - 3px)' !important;
            }
            .btn{
                padding: 4px;
            }
        }
    }
    .menu-rubriques .nav-list li a{
        height: auto !important;
    }
    .content{
        padding: @contentMarginResponsive !important;
        width: ~'calc(100% - 270px)' !important;
    }
    
    #logo_site_spip{
        font-size: 30px !important;
        .spip_logos{
          width: 200px  !important;
        }
    }
    h1:not(.entry-title), .h1, .h1-like {
        font-size: 2em;
    }
    .texte, .chapo {
    font-size: 1em !important;
    }
    .tuiles .content{
        .menu-rubriques, .rubriques{
            ul{
                li{
                    display: block !important;
                    margin-right: 0 !important;
                    margin-bottom: 0 !important;
                    padding: 0 !important;
                    width: auto !important;
                    text-align: left !important;
                    background-color: transparent !important;
                    background-image: none !important;
                    font-size: 1.5em !important;
                    line-height: 2em !important;
                    a{
                        position: static !important;
                        display: inline !important;
                        padding: 0 !important;
                        height: auto !important;
                        max-width: auto !important;
                        line-height: 1em !important;
                        background-color: transparent !important;
                        color: @headingsColor !important;
                        border: none !important;
                        .spip_logos{
                            display: none !important;
                        }
                        .btn-title{
                            position: static !important;
                            display: inline !important;
                            margin-top: 0 !important;
                            line-height: 1em !important;
                            font-size: 1em !important;
                        }
                        &:hover, &:focus, &:active{
                            background-color: transparent !important;
                            box-shadow: none !important;
                            text-decoration: underline !important;
                        }
                    }
                }
            }
        }
    }
    
    .page_sommaire .articles .item,
    .actus .articles .item,
    .grille .articles .item{
        display: block !important;
        width: 100% !important;
        padding: 0 !important;
        border-right-width: 0 !important;
        border-bottom-width: 1px !important;
        margin-bottom: 20px;
        .entry-title, .introduction{
            height: auto !important;
        }
    }
    .grille .articles .texte{
        height: auto !important;
    }
    section, article{
        aside{
            .comments{
                .comments-list,
                .comment-form{
                    display: block !important;
                    width: 100% !important;
                    padding: 0 !important;
                    margin: 0 !important;
                    border: none !importent;
                }
            }
        }
        
    }
    
    #breve-tech-important{
        position: static !important;
        height: auto !important;;
        width: auto !important;;
    }
    
    .page_rubrique .etat-services{
        .main, aside{
            width: auto;
            display: block;
        }
        .main{
            padding: 0;
        }
    }
}

@media (max-width: 800px) {
    body {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    #logo_site_spip{
        font-size: 25px !important;
        margin-top: 10px !important;
        .spip_logos{
            width: 150px  !important;
            margin-top: -15px !important;
        }
    }
    #descriptif_site_spip, #presentation, .edito{
        margin-bottom: @contentMarginResponsive !important;
    }
    
    .edito{
        header::before{
            content: '' !important;
            border: none !important;
            padding: 0 !important;
            margin-left: -30px;
            margin-right: -30px;
        }
    }
        
    .archives, .vrac{
        margin-top: @contentMarginResponsive !important;
    }
    
    .login, .logout{
        display: none !important;
    }
    
    .encart-contact, .encart-papi{
        width: 100% !important;
        height: auto !important;
    }
}

@media (max-width: 768px) {
    #site{
        margin: 0 !important;
    }
    #framanav_container, .navbar2, .gotop{
        display: none;
    }
    .spip_logos{
        display: none !important;
    }
    
    .responsive-button{
        position: fixed;
        top:0px;
        left:0px;
    }
    #header{
        padding: 0 !important;
        white-space: nowrap;
        padding-left: 50px !important;
        height: 50px;
    }
    #logo_site_spip{
        display: block !important;
        margin: 6px !important;
    }
    
    .container{
        padding-bottom: 60px;
    }
    
    .content{
        min-height: auto !important;
        width: ~'calc(100% - 60px)' !important;
    }
    
    section aside .comments .comment-meta,
    article aside .comments .comment-meta{
        padding-left: 0 !important;
    }
    
    .responsive-button{
        z-index: 3000;
        width: 50px;
        height:50px;
        background-repeat: no-repeat;
        &:hover, &:focus, &:active{
            background-repeat: no-repeat;
        }
    }
    
    #responsive-button-open{
        display:block;
        background-image: url(img/menu-icon.png);
        background-color: @NavLinkBackground;
        text-align: center;
        line-height: 70px;
        background-position: center 10px;
        &:hover, &:focus, &:active{
            background-position: center 10px;
        }
    }
    #responsive-button-close{
        display: none;
        background-image: url(img/close-icon.png);
        background-color: @NavLinkBackgroundHover;
        background-position: center;
        &:hover, &:focus, &:active{
            background-position: center;
        }
    }
    
    .menu-rubriques .nav-list li a{
        padding: 0 @contentPaddingResponsive !important;
    }
    
    #page{
        width: 100%;
        overflow: hidden;
        #aside{
            font-size: 0.8em;
            width: 0 !important;
            height: ~'calc(100% - 50px)';
            position: fixed;
            z-index: 2000;
            top: 50px;
            left: 0;
            overflow: auto;
            background-color: @containerBackground;
            background-image: @containerBackgroundImage;
            #mobile-menu{
                background-color: #f2f2f2;
            }
            .nav{
                opacity: 0;
                margin: 0;
                .item{
                    border-bottom: @contentBorder;
                    a{
                        padding-left: @contentPaddingResponsive;
                    }
                }
                
                .inline-list{
                    display: inline-block;
                    border-bottom: none;
                    a{
                        padding: 10px;
                    }
                }
                .first{
                    a{
                        padding-left: @contentPaddingResponsive;
                    }
                } 
                .last{
                }
            }
            .menu-rubriques{
                z-index: 1000;
                width: 100%;
                height: auto;
                padding: 10px 0 !important;
                .nav-list .active .nav-list{
                    display: none;
                }
            }
        }
        
        &:target{
            #responsive-button-open{
                display: none;
            }
            #responsive-button-close{
                display: block;
            }
            #aside{
                transition: width 500ms ease-out 0s;
                .nav{
                    transition: opacity 250ms ease-out 500ms;
                    opacity: 1;
                }
                width: 65% !important;
                border-right: @boxBorder;
                max-width: 170px;
            }
            .content{
                transition: padding 500ms ease-out 0s;
                padding-left: 200px !important;
                position: fixed;
                & > *{
                    opacity: 0.4;
                }
            }
        }
    }

    .form-search, .extra, .footer, .no-mobile{
        display: none;
    }
    
    .mobile {
        display: block !important;
    }

    .go-to-top{
        z-index: 900;
        width: ~'calc(100% - 60px)' !important;
        text-align: center;
    }
    
    .cartouche{
        margin-bottom: @contentMarginResponsive !important;
    }
    section aside, article aside{
        margin-top: @contentMarginResponsive !important;
    }
    .edito, .cartouche:not(.cartouche-edito), .breadcrumb, #hierarchie, section aside, article aside{
        margin-left: -30px !important;
        margin-right: -30px !important;
    }
    
    .breadcrumb, #hierarchie{
        padding: 0 30px !important;
    }
    
}