body{
    background-color: #fff;
}
.topmenu{
    display: none;
}
#header{

}
#aside{
    display: none;
}
.breadcrumb, #hierarchie{
    display: none;
}
#menu-sommaire, .tuiles .content .rubriques{
    display:none;
}
.content{
    width: 100%;
    padding: 0;
    margin: 0;
    max-width: 100%;
}
section, article{
    max-width: 100%;
}
.main, footer{
    max-width: 100%;
}