.nav-sommaire {
    margin-left: 0;
    h2 {
        text-transform: none;
    }
    ul, ol{
        color: @grayLight;
    }
    li{
        margin-bottom: 0.3em;
    } 
}

.sommaire-back {
    background: none;
    color: @grayLight !important;
    height: inherit;
    &:hover{
        opacity: 1;
    }
    &:before {
        content:'\25b2';
    }
}