@import 'css/fonts.less';
@import 'css/variables.less';

//||||||||||||||||||||||||||||||||||||||||||//
//|||-------------- GLOBAL --------------|||//
//||||||||||||||||||||||||||||||||||||||||||//

iframe{
    max-width: 100%;
}

////////////////heading////////////////
h1, .h1, .h1-like,
h2, .h2, .h2-like,
h3, .h3, .h3-like,
h4, .h4, .h4-like,
h5, .h5, .h5-like,
h6, .h6, .h6-like,
.secondary h1, .secondary .h1, .secondary .h1-like,
.secondary h2, .secondary .h2, .secondary .h2-like,
.secondary h3, .secondary .h3, .secondary .h3-like,
.secondary h4, .secondary .h4, .secondary .h4-like,
.secondary h5, .secondary .h5, .secondary .h5-like,
legend{
    &::first-letter{
        text-transform: capitalize;
    }
}

h1, .h1, .h1-like{
    line-height: 1.2em;
}

h1:not(.entry-title), .h1, .h1-like {
    font-size: 2.3em;
    font-variant-ligatures: normal;
}
.content{
    h2:not(.entry-title), .h2, .h2-like{
        color: @grayLight;
        border-bottom: 2px dashed @grayLight;
        font-size: 1.6em;
        /*margin-top: 2em;*/
        &:first-child{
            margin-top: 0;
        }
        a{
            color: @headingsColor;
        }
    }
    h3:not(.entry-title), .h3, .h3-like{
        color: @brown;
        font-size: 1.2em;
        margin-top: 1.8em;
    }
    h4:not(.entry-title), .h4, .h4-like{
        font-weight: normal;
        margin-top: 1.8em;
    }
}

////////////////links////////////////
a{
    transition: all 250ms linear;
    font-weight: bold;
    .introduction{
        font-weight: normal;
    }
    &:hover, &:focus, &:active{
        text-decoration: underline;
        background-color: transparent;
    }
    &.lien-introduction:hover,
    &.lien-introduction:focus,
    &.lien-introduction:active{
        text-decoration:none;
    }
}

.entry-title a,
.menu-liste, .menu-liste a,
.nav-list .active .nav-list,
.nav-list .active .nav-list a,
.nav-list .active .nav-list a:hover{
    color: @headingsColor;
}
.entry.document{
    .entry-title{
        overflow: visible;
        height: 1.3em;
        a{
        color: @textColor;
        }
    }
        
    .spip_logos{
        max-width: 40px;
    }
}
article, section{
    .chapo, .texte, footer{
        a{
            font-weight: normal;
            color: @green;
        }
        .spip_ancre{
            color: @grayLight;
        }
    }
}

////////////////lists////////////////
.rubriques{
    .item{
         border: none;
    }
    .entry-title{
        font-size: 1.5em;
        line-height: 1em;
    }
}

.liste-sans-intro{
    .articles, .rubriques{
        *{
            padding: 0;
            margin: 0;
        }
        .item{
            border: none;
            .introduction, .entry-content{
                display: none;
            }
        }
        .entry-title{
            font-size: 1.5em;
            line-height: 2em;
        }
    }
    .rubriques{
        .menu-liste{
            margin-left: 0;
            list-style-type: none;
        }
        h2{
            display: none;
        }
    }
}

////////////////tables////////////////
table{
    table-layout: fixed;
    font-size: 0.8em;
}

////////////////forms////////////////
input, button{
    border-radius: 0 !important;
}
.formulaire_spip {
    padding: 0 !important;
}
.boutons{
    background-color: transparent !important;
    border-top: none !important;
    input{
        display: block !important;
        width: 100% !important;
    }
}
input.submit, .btn, button, .ui-datepicker-prev, .ui-datepicker-next{
    color: @boxColor;
    background: @boxBackground;
    border:@buttonBorder;
    box-shadow: @boxShadow;
    text-shadow: none;
    font-weight: bold;
    transition: all 250ms linear;
    cursor: pointer;
    &:hover, &:focus{
        background: @boxBackgroundHover !important;
    }
    &:active{
        color: @boxBackgroundHover;
        background: @boxColor;
        border: @buttonBorderActive;
        box-shadow: @boxShadowInset;
    }
}
.leaflet-control-layers-list { margin: 0; }

//||||||||||||||||||||||||||||||||||||||||||//
//|||--------------- PAGE  --------------|||//
//||||||||||||||||||||||||||||||||||||||||||//

#site{
    background-color: @containerBackground;
    background-image: @containerBackgroundImage;
    background-attachment: fixed;
    box-shadow: -4px 6px 9px rgba(50, 50, 50, 0.5);
    max-width: @containerWidth;
    margin: auto;
    margin-top: @contentMarginResponsive;
    margin-bottom: @contentMarginResponsive;
}


//||||||||||||||||||||||||||||||||||||||||||//
//|||------------ PAGE HEADER -----------|||//
//||||||||||||||||||||||||||||||||||||||||||//

#header{
    padding: 15px @contentPadding;
    header{
        width: auto;
        #logo_site_spip{
            margin-bottom: 0;
            margin-top: 30px;
            font-family: @HeaderFontFamily;
            font-size: 35px;
            color:  @headingsColor;
            font-variant: small-caps;
            span{
                color: @green;
            }
            .spip_logos{
                width: 240px;
                margin: 0;
                margin-right: @contentPadding;
                margin-top: -30px;
            }
            #slogan_site_spip{
                font-size: 0.45em;
                color: @AsideTextColor;
                font-variant: normal;
            }
        }
    }
    a:hover{
        #logo_site_spip{
            color: @HeaderColor;
        }
    }
}


//||||||||||||||||||||||||||||||||||||||||||//
//|||------------ PAGE ASIDE ------------|||//
//||||||||||||||||||||||||||||||||||||||||||//

#aside{
    width: @asideWidth;
    color:@AsideTextColor;
    h2, .h2, .h2-like{
        margin-bottom: 0.5em;
    }

    .extra:last-child{
        margin-bottom: @contentPadding;
    }
    .extra a, .footer a, .gotop a{
        color:@NavLinkColor;
        text-decoration: none;
    }
    ////////////////lists////////////////
    .liste-items{
        margin-left: 20px;
        li{
            padding: 0;
            margin-bottom: 2px;
            border: 0;
            a{
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                &:hover, &:focus, &:active{
                background-color: transparent;
                text-decoration: underline;
                }
            }
        }
        li:last-child{
            border: 0;
        }
    }
    
    ////////////////search bar////////////////
    .form-search, .extra, .footer, .gotop{
        padding: 20px @contentPadding;
        margin-top: @contentPadding;
        background-color: @grayDarkMoreFade;
        border-top: @boxBorder;
    }
    .formulaire_recherche{
        margin: 0;
        padding: 0;
        border-top: 0;
        label{
            display: none;
        }
        input{
            width: ~'calc(100% - 28px - 26px - 20px)';
            border:none;
            box-shadow: none;
            background-image: url(img/recherche.png);
            background-repeat: no-repeat;
            background-position: left 5px center;
            padding-left: 28px;
            padding-right: 6px;
        }
        .btn{
            background-color: @brownLight;
            box-shadow: none;
            border: none;
            &:hover, &:focus{
                background-color: @brown;
            }
            &:active{
                background-color: @white;
            }
        }
        
    }
}


//||||||||||||||||||||||||||||||||||||||||||//
//|||-------------- MENUS ---------------|||//
//||||||||||||||||||||||||||||||||||||||||||//

////////////////menu clavier////////////////
#menu-clavier{
    position: fixed;
    top: 30px;
    left: -99999px;
    a{
        color: #fff;
        background-color: @grayMedium;
        padding: 10px;
        margin-bottom: 5px;
        &:focus{
            text-decoration: underline;
            outline-color: #fff;
        }
    }
    .gotop{
        width: auto;
        position: fixed;
    }
}
#menu-clavier.show{
    left: 30px;
}

////////////////top menu////////////////
/* Top menu remplace par nav "frama-style" /nav/css/nav.css */
.spip-admin-boutons{
    display: inline-block;
    vertical-align: top;
    background-color: @grayMedium !important;
    &:hover, &:active, &:focus{
        background-color: @gray !important;
    }
}


////////////////aside & buttons menu on content (.tuiles) ////////////////
.nav-list, .tuiles .rubriques{
    li{
        font-family: @headingsFontFamily;
        font-variant-ligatures: common-ligatures;
        font-size: 1.6em;
        a{
            color:@NavLinkColor;
            text-shadow: none;
            background-color: @NavLinkBackground;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            .btn-title{
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            &:hover, &:focus, &:active{
                color:@NavLinkColorHover;
                background-color:@NavLinkBackgroundHover;
            }
        }
    }
}
.nav-list .active{
        a, a:hover, a:focus, a:active, .nav-list{
            background-color: @white;
            text-shadow: none;
        }
        a, a:hover, a:focus, a:active{
            color:@NavLinkColorHover;
        }
        .nav-list{
            font-size: 0.4em;
            li{
                word-break: keep-all;
                white-space: nowrap;
                margin-left: 0;
                a{
                    font-weight: normal;
                    background-color: transparent;
                    text-shadow: none;
                    &:hover, &:focus, &:active, &.on{
                        font-weight: bold;
                    }
                }
            }
            .active, li:hover, li:focus, li:active {
                list-style-type:circle;
                line-height: 1em;
                transition: none;
            }
        }
    }

//////menu rubriques//////
.menu-rubriques,
.menu-accueil,
.menu-outils{
    .nav-header{
        display: none;
    }
    .nav-list{
        padding: 0;
        li{
            margin-bottom: 10px;
            a{
                .spip_logos{
                    display: none;
                }
                padding: 0 @contentPadding;
                margin: 0;
                line-height: 2em;
                &.on{
                    position: relative;
                    z-index: 1000;
                    box-sizing: border-box;
                }
                &:hover, &:focus, &:active{
                    &::before{
                        content: '∞';
                    }
                }
            }
            .nav-list{
                display: none;
            }
        }
        .active{
            a, a:hover, a:focus, a:active{
                &::before{
                    content: '∞';
                    color: @green;
                }
            }
            .nav-list{
                display: block;
                position: relative;
                margin-left: @contentPadding;
                padding: 15px @contentPadding;
                background-color: @lightBackground;
                li{
                   height: 20px;
                    margin-bottom: 10px;
                    &:last-child{
                        margin-bottom: none;
                    }
                    a{
                        height: 20px;
                        padding: 0;
                        line-height: 20px;
                        border: none;
                        &, &:hover, &:focus, &:active{
                            &::before{
                                content: '';
                            }
                        }
                    }
                }
            }
        }
    }
}

.texte_libre{
    display: inline;
    padding : 0;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    text-shadow: inherit;
    text-transform: inherit;
}

//||||||||||||||||||||||||||||||||||||||||||//
//|||------------- CONTENT --------------|||//
//||||||||||||||||||||||||||||||||||||||||||//

////////////////breadcrumb////////////////
.breadcrumb, #hierarchie{
    height: 20px;
    padding: 0;
    background: none;
    font-size: 0.8em;
    border-bottom: @boxBorder;
    border-radius: 0;
    li{
        text-shadow: none;
        a{
            font-weight: normal;
        }
        &.active{
            display: none;
        }
    }
    .active, .divider{
        color: @grayDarker;
    }
}

////////////////global content////////////////
.content{
    position: relative;
    z-index: 1;
    width: ~'calc(100% - 420px)' ;
    min-height: 1300px;
    padding: @contentMargin;
    background-color: @contentBackground;
}
#menu-sommaire, section, article, .breadcrumb, #hierarchie{
    max-width: @contentWidth;
    margin: auto;
}
.main, footer{
    max-width: 550px;
    margin: auto;
}
.texte{
    font-size: 1.1em;
}
.chapo{
    font-size: 1.2em;
    margin-bottom: @contentPadding;
}
.texte, .chapo, .introduction, #descriptif_site_spip{
    p{
        text-align: justify;
    }
}
.columns{
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: @contentPadding;
    -moz-column-gap: @contentPadding;
    column-gap: @contentPadding;
}
.publication{
    margin-bottom: 5px;
}
.publication, .postmeta, aside .comments{
    display: none;
}
.icon-user{
    display: none;
}
.spip_documents{
    &:first-child{
        margin-top: 0;
    }
    a{
        display: block;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        img{
            background-color: @white;
            padding: 40px;
        }
        &:hover, &:active, &:focus{
            background-image: url(img/download_arrow.png);
            background-size: 120px;
            background-position: center;
            background-repeat: no-repeat;
            img{
                opacity: 0.5;
            }
        }
    }
    a.spip_out{
        background-image: url(img/go_out.png);
    }
    a[href^="http://media"], a[href^="media"], a[href^="http://medias"], a[href^="medias"]{
        background-image: url(img/play_arrow.png);
    }
}
section, article{
    font-family: @LongTextFontFamily;
    
    .cartouche, aside, .calendrier{
        background-color:@grayLighter;
        padding: @contentPadding;
        &:empty{
            display: none;
        }
    }
    .calendrier{
        margin-bottom: @contentPadding;
        padding-bottom: 5px;
        .ui-datepicker-header{
            vertical-align: middle;
            width: 40%;
            height: 32px;
            margin: auto;
            margin-bottom: 15px;
            .ui-datepicker-title{
            }
            .ui-datepicker-prev{
                float: left;
            }
            .ui-datepicker-next{
                float: right;
            }
            .ui-datepicker-prev, .ui-datepicker-next{
                position: static;
                margin-top: 4px;
                padding: 3px;
                width: 16px;
                height: 16px;
                span{
                    position: static;
                    margin: 0;
                }
            }
        }
        .ui-datepicker-buttonpane{
            margin-top: 15px;
            text-align: center;
            .ui-datepicker-current{
                float: none;
            }
        }
    }
    ////////////////header content////////////////
    .cartouche h1 + .publication, .hero-unit h1 + .publication, .entry h1 + .publication {
    margin-top: 0;
    }
    .cartouche{
        position: relative;
        margin-bottom: @contentMargin;
        h1{
           margin-bottom: 10px;
        }
        .spip_logos {
            max-height: 55px;
            width: auto;
        }
        .soustitre{
            display: block;
        }
        .surtitre{
            color: @grayDark;
            margin-bottom: 0.2em;
            font-size: 1.1em;
        }
    }
    p:last-child{
        margin-bottom: 0 !important;
    }
    h2, .h2, .h2-like, h3, .h3, .h3-like, h4, .h4, .h4-like{
        &:first-child{
            margin-top: 0 !important;
        }
    }
    ////////////////footer content////////////////
    footer{
        margin-top: @contentPadding;
    }
    ////////////////aside content////////////////
    aside{
        color: @AsideTextColor;
        margin-top: @contentMargin;
        h2, .h2, .h2-like{
            margin-bottom: 25px;
            color: @headingsColor !important;
        }
        .liste-items{
            .item{
                border: none;
                padding-top: 0;
                padding-bottom: 0;
                margin-bottom: 10px;
                &:last-child{
                    border: none;
                }
            }
            .entry{
                display: block;
                .entry-title{
                    display: inline-block;
                    max-width: 630px;
                    margin-bottom: 0;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-size: 1em;
                }
                a{
                    color: @AsideTextColor;
                }
                .publication{
                    float: right;
                    margin-left: 5px;
                    margin-bottom: 0;
                    text-align: right;
                    .icon-calendar{
                        display: none;
                    }
                }
            }
            .syndyc_article .publication{
                display: inline;
            }
        }
        .sites{
            .site{
                .publication{
                    display: none;
                }
            }
            .entry-title{
                width: ~'calc(100% - 180px)';
            }
            .publication{
                width: 160px;
            }
            .with-publication-inline{
                .article{
                    /*correction puces*/
                    display: inline;
                    vertical-align: top;
                    .entry-title {
                        a{
                            font-weight: normal;
                        }
                    }
                }
            }
        }
        ////////////////aside content - comments////////////////
        .comments .comment-form, .formulaire_ecrire_auteur{
            input.text, textarea,
            .markItUp .markItUpContainer .markItUpHeader{
            box-sizing: border-box;
            width: 100%;
            }
            input.text{
            height: @contentPadding;
            }
        }
        .formulaire_ecrire_auteur{
            margin: auto;
            max-width: 450px;
        }
        
        .comments{
            &::before{
                content:'Commentaires';
                display: block;
                border-bottom: 2px dashed @grayLight ;
                margin-bottom: 25px;
                padding-bottom: 2px;
                color: @headingsColor;
                font-size: 1.7em;
                font-weight: bold;
            }
            .ajaxbloc{
                display: inline;
            }
            .comments-list, .comment-form{
                vertical-align: top;
                display: inline-block;
                width: ~'calc(50% - 10px - 18px)';
                h2{
                   display: none;
                }
            }
            .comment-form{
                background-image:url(img/gray_arrow.png);
                background-repeat: no-repeat;
                background-position: left 10%;
                padding-left: 25px;
                border-left: 2px solid @grayLightMedium;

                &:nth-child(3){
                    //Si le formulaire est 3eme enfant c'est qu'il n'y a pas de commentaires (en attendant de trouver une meilleure solution)
                    display: block;
                    margin: auto;
                    padding-left: 0;
                    border: none;
                    &::before{
                        content: 'Il n\'y a aucun commentaire sur cet article,\0000a0 soyez le-la premier-ère !';
                        color:@grayLight;
                        display: block;
                        font-size: 2.2em;
                        line-height: 1.2em;
                        text-align: center;
                        margin-bottom: @contentPadding;
                    }
                }
            }
            .comments-list, .preview{
                margin-right: 25px;
                .comment-content{
                    max-height: 100%;
                    padding:10px;
                    overflow: hidden;
                    p{
                        margin-bottom: 5px;
                        &:last-child{
                            margin-bottom: 0;
                        }
                    }
                }
            }
            legend{
                font-size: 1.4em;
                display: none;
            }
            .explication{
                font-size: 0.9em;
            }
            .comment-meta{
                box-shadow: none;
                .item{
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }
            .comment-li{
                border-top: 1px solid @dropdownDividerTop;;
                &:first-child{
                    border: none;
                }
            }
            .comment-content{
                background-color: @white;
                line-height: 1.4em;
            }
            .comments-feed{
                border-top: @boxBorder;
                text-align: center;
            }
        }
        .comment{
            padding-bottom: @contentPadding;
        }
        .boutons.modererforum{
            top: auto;
            bottom: 10px;
        }
        ////////////////aside content - attachments////////////////
        .documents{
            margin-bottom: @contentPadding;
            .item{
                padding-left: 0;
            }
        }
    }
    ////////////////meta & tags content////////////////
    .comment-meta{
        min-height: 40px;
        padding: 10px;
        padding-left: 50px;
        margin-bottom: 5px;
        .spip_logos {
            left: 0;
            height: 40px;
            width: auto;
        }
    }
    .comments-feed{
        padding-top: 5px;
        margin-top: @contentPadding;
    }
    .publication, .postmeta{
        font-size: 0.8em;
    }
    [class^="icon-"], [class*=" icon-"]{
        vertical-align: middle;
    }
    .icon-tag{
        margin-right: 3px;
    }
    .icon-calendar{
        vertical-align: top;
    }
    .tags{
        .sep{
            margin: 0 5px;
        }
    }
    .label, .label-default{
        font-weight: normal;
        text-shadow: none;
        border-radius: 0;
        &:hover, &:focus, &:active{
            background-color: @gray;
        }
    }
}


//||||||||||||||||||||||||||||||||||||||||||//
//|||-------------- FOOTER --------------|||//
//||||||||||||||||||||||||||||||||||||||||||//

.extra, .footer {
    font-size: 0.8em;
    
    h1, .h1, .h1-like{
        font-size: 2em;
    }
    h2, .h2, .h2-like{
        font-size: 1.7em;
        font-weight: normal;
        margin-bottom: 0.5em;
        margin-left: -20px;
        a{font-weight: normal;}
    }
}
.footer{
    margin-bottom:94px;
    .colophon{
        padding-right: 0;
        a{
            display: block;
        }
    .sep{
        display: none;
    }
    }
    .generator{
        position: static;
    }
}
.footer, .gotop{
    position: absolute;
    bottom: 0;
    width: @asideContentWidth;
}
.gotop a::before, .gotop a:hover::before{
    content: '↑';
    font-size: 1.5em;
    font-weight: bold;
    padding-right: 5px;
    text-decoration: none;
}


//||||||||||||||||||||||||||||||||||||||||||//
//|||-------- SPECIFICS PAGES -----------|||//
//||||||||||||||||||||||||||||||||||||||||||//

.page_login{
    section{
    max-width: 350px;
    padding: @contentPadding;
    background-color:@grayLighter;
        .cartouche, #formulaire_menu_lang{
            margin-bottom: 20px;
        }
        .cartouche{
            padding: 0;
        }
        select, input:not(.checkbox){
            display: block;
            width: 100%;
            max-width: 350px;
            box-sizing: border-box;
            height: 2em;
        }
        #pass_securise{
            display: none;
        }
    }
    #hierarchie{
        display: none;
    }
}
.comments, .page_login section{
    color: @AsideTextColor;
    font-size: 0.9em;
}

.page_sommaire,
.page_plan,
.page_recherche{
    #menu-sommaire{
        display: block;
    }
}
.page_sommaire,
.actus,
.grille{
    .articles{
        .item{
            border:  @contentBorder;
            border-width: 0;
            border-right-width: 1px;
            &:last-child{
                border: none;
            }
            .entry-title{
                height: 2.4em;
            }
            .entry-title, .postmeta, .introduction, .publication{
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .postmeta, .publication{
                white-space: nowrap;
            }
        }
    }
}
.page_sommaire,
.page_rubrique .actus,
.page_rubrique .large{
    .main, footer{
        max-width: 100%;
    }
}
.page_sommaire,
.page_rubrique .actus,
.page_rubrique .grille{
    .articles{
        h2{
            display: block;
        }
        .item{
            vertical-align: top;
            display: inline-block;
            width:~'calc(100% / 3 - 30px)';
            padding-left:  20px;
            padding-right: 20px;
            &:first-child, &:nth-child(3n+1){
                padding-left: 0;
            }
            &:last-child, &:nth-child(3n){
                padding-right: 0;
                border-right-width: 0;
            }
            .introduction{
                height: 200px;
                hyphens: auto;
                .autobr{
                    display: none;
                }
            }
            .postmeta{
                height: 20px;
                margin-bottom: 10px;
            }
        }
    }
}

.page_rubrique .grille .articles .item{
    width:~'calc(100% / 3 - 18px)';
    padding: 10px;
    .entry-title{
        height: 2.2em;
    }
    .soustitre{
        display: block;
    }
}

.page_sommaire{
    .pagination{
        display: none;
    }
}
.actus{
    .publication,
    .postmeta,
    aside .comments{
        display: block;
    }
    
    .liste-items{
        .publication, .postmeta {
            display: block;
        }
    }
    .articles.no-actus{
        display: none;
    }
}
.page_rubrique .etat-services{
   .main, aside{
        width: 50%;
        display: table-cell;
        vertical-align: top;
    }
    .main{
        padding-right: @contentPadding;
    }
    aside{
        &>*{
            margin: 0;
        }
        .entry-title{
            display: inline-block;
            width: 210px;
        }
        .publication{
            display: inline;
        }
        .entry-content{
            font-size: 0.85em;
            line-height: 1.4em;
        }
    }
    h3{
        &.ok, &.middling, &.bad {
           &::before{
               display: inline-block;
               width: 20px;
               height: 20px;
               margin-right: 5px;
               padding: 1px;
               font-size: 0.8em;
               text-align: center;
               color: @white;
               border-radius: 2px;
           }
        }
        &.ok::before        {content: '✓'; background-color: @greenLight;}
        &.middling::before  {content: '!'; background-color: @orangeLight;}
        &.bad::before       {content: '✕'; background-color: @redLight;}
    }
    .chapo{
        h4{
            margin-bottom: 0;
            margin-bottom: -15px;
        }
        ul{
            list-style-type: none;
            margin-left: 0;
            li{
                display: inline-block;
                vertical-align: top;
                width: 320px;
                height: 280px;
            }
        }
    }
    .details-link, .close-link{
        float: right;
        color: inherit;
        font-size: 0.6em;
    }
    .details-link{
        &::after{
            content:'►';
            margin-left: 5px;
        }
        &:hover, &:focus, &:active{
            text-decoration: none;
            &::after{
                content:'▼';
                margin-left: 5px;
            }
        }
    }
    .close-link{
        display: none;
        &::after{
            content:'▼';
            margin-left: 5px;
        }
        &:hover, &:focus, &:active{
            text-decoration: none;
            &::after{
                content:'►';
                margin-left: 5px;
            }
        }
    }
    
    .service-details{
        background-color: #F0F0F0;
        height: 1px;
        margin-bottom: @contentPadding;
        padding: 20px;
        transition: all 500ms linear ;
        opacity:0;
        overflow: hidden;
    }
    .service{
        /* Masquage temporaire*/
        display: none;
        &:target{
            .details-link{
                display: none;
            }
            .close-link{
                display: inline;
            }
            .service-details{
                height: auto;
                opacity:1;
            }
            
        }
    }
    iframe{
        border: none;
        width: 320px;
        height: 260px;
        overflow: hidden;
    }
}
.page_rubrique{
    .articles, .rubriques{
        h2, .spip_logos{
            display: none;
        }
    }
}

.page_breve .cartouche .publication { display: block; }

.archives, .vrac{
    margin-top: @contentMargin;
}

.page_plan{
    h3, .h3{
        display: none;
    }
    .plan .plan .plan{
        //On masque les listes trop profondes pour ne pas nuire à la lisibilité du plan
        .plan, ul{
            display:none;
        }
    }
}


//||||||||||||||||||||||||||||||||||||||||||//
//|||- SPECIALS STYLES ANS ID ELEMENTS --|||//
//||||||||||||||||||||||||||||||||||||||||||//

.fa-logo::before {
    font-family: FontAwesome;
    font-weight: normal;
    font-size: 80px;
    position: absolute;
    margin-top: 20px;
    margin-left: -5px;
    z-index: 0;
    opacity: 0.3;
}
.grille .articles .texte{
    z-index: 1;
    position: relative;
    height: 140px;
    p{
        font-size: 0.9em;
    }
}
.grille .articles .lien{
    display: block;
    font-weight: normal;
    padding: 5px;
    &:hover,
    &:focus,
    &:active{
        text-decoration: none;
        background-color: @grayLighter;
    }
}

#art357{
    width: ~'calc( 100% / 3 + 100% / 3 - 12px)';
}

.mobile{
    display: none;
}
.responsive-button{
    display: none;
}

#breve-tech-important{
    position: absolute;
    right: 30px;
    bottom: 0;
    width: @asideWidth;
    height: 90px;
    padding: 10px;
    font-size: 0.8em;
    line-height: 1.2em;
    background-color: @lightBackground;
    *{
        margin: 0;
        overflow: hidden;
    }
    .entry-title{
        display: inline-block;
        max-width: 225px;
        white-space: nowrap;
        text-overflow: ellipsis;
        &:before{
        content: '⚠';
        }
    }
    .publication{
        display: inline;
        float: right;
        max-width: 70px;
    }
    br{
        display: none;
    }
}

#etat-services ul{
    list-style-type: square;
    list-style-position: inside;
    li{
        white-space: nowrap;
        overflow: hidden;
        &.ok        {color: @greenLight;}
        &.middling  {color: @orangeLight;}
        &.bad       {color: @redLight;}
        a{
            display: inline;
        }
    }
}

#descriptif_site_spip{
    margin-top: @contentMargin;
}
#descriptif_site_spip,
#presentation{
    padding-top: @contentPadding;
    border-top: @boxBorder;
}
#presentation{
    margin-top: @contentPadding;
    .cartouche{
        margin-bottom: @contentPadding;
        background-color: transparent;
        padding: 0;
        h2{
            color:inherit;
        }
    }
}

.encart-contact,
.encart-papi{
    padding: @contentPadding;
    width: 50%;
    height: 320px;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    i{
        margin-right: 10px;
    }
    
    .tel, .twitter, .irc, .mail{
        font-size: 1.2em;
        line-height: 1.5em;
    }
}

section .encart-contact,
section .encart-papi{
    a, a:hover, a:focus{
        color: @textColor;
    }
}
.encart-contact{
    background-color: @grayLighter;
}
.encart-papi{
    background-color: @blueLight;
}
.spip_document_136 img{
    height: 200px;
    width: auto;
}

//////menu rubriques accueil et menu outils//////
//prevoir calcul dynamique CSS3 avec 100%
#menu-sommaire,
.tuiles .content, .outils-libres .content{
    .menu-rubriques,
    .menu-accueil,
    .menu-outils,
    .rubriques{
        ul{
            font-size: 0; //https://www.alsacreations.com/astuce/lire/1432-display-inline-block-espaces-indesirables.html 
        }
        li{
            font-size: 1.4rem;
            display: inline-block;
            vertical-align: top;
            margin-right: 30px;
            margin-bottom: @contentPadding;
            padding: 0;
            width: ~'calc(100% / 5 - 24px)'; //30 * 4 / 5 = 24
            text-align: center;
            background-color: @containerBackground;
            background-image: @containerBackgroundImage;
            a{
                position: relative;
                display: block;
                padding: 15px;
                height: 95px;
                max-width: @boxSize;
                line-height: 2.9em;
                border: @boxBorder;
                .spip_logos{
                    display: inline;
                    float: none;
                    clear: none;
                    margin: 0;
                    max-height: @boxSize - 25px;
                    max-width: 100%;
                    width: auto;
                    -webkit-filter: grayscale(1);
                    filter: grayscale(1);
                    opacity: 0.7;
                }
                .btn-title{
                    display: block;
                    position: absolute;
                    bottom: 10px;
                    left: 0;
                    width: 100%;
                    line-height: 1.5em;
                    font-size: 0.55em;
                }
                &:hover, &:focus, &:active{
                    text-decoration: none;
                    .spip_logos{
                        -webkit-filter: none;
                        filter: none;
                        opacity: 0.9;
                    }
                    &::before{
                        content: '';
                    }
                }
            }
            &:first-child{
            margin-left:0px
            }
            &:last-child, &:nth-child(5){
                margin-right: 0;
            }
        }
    }
}

#menu-sommaire, .menu-outils{
    margin-bottom: @contentPadding;
    .exclu-menu{
        display: none;
    }
}

.menu-outils-libres{
    .fa{font-size: 60px;}
    a{line-height: 5em;}
}

.menu-petit{
    li{
        margin-right: 10px !important;
        margin-bottom: 15px !important;
        width: ~'calc(100% / 8 - 8.75px)' !important; //10 * 7 / 8 = 8.75
        a{
            height: 60px !important;
            line-height: 2.5em !important;
        }
        .fa{
            font-size: 35px !important;
        }
        &:nth-child(5){
            margin-right: 10px !important;
        }
        &:last-child, &:nth-child(8){
            margin-right: 0 !important;
        }
    }
}

.edito{
    margin-bottom: @contentMargin;
    padding: @contentPadding;
    background-color:@grayLighter;
    border: none;
    font-size: inherit;
    .cartouche{
        margin-bottom: 25px !important;
        padding: 0;
        font-size: 1.2em;
        &::before{
            content: 'À LA UNE';
            float: left;
            color: @grayLight;
            border: dashed @grayLight 2px;
            padding: 20px;
            padding-top: @contentPadding;
            margin-right: 20px;
            font-size: 2em;
        }
        h2, .h2{
            margin-bottom: 7px;
            font-size: 1.4em;
            border-bottom: none;
        }
        .publication, .postmeta {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .texte{
        max-width: 100%;
    }
}
.tag-edito, .label[href="tag/edito"]{
    display: none;
}

//////Sommaire Article//////
@import 'css/sommaire.less';