@import 'bootstrap/css/variables.less';

/*
noirclair #1A1A1A

vert #51A523

vert2 #7AA50F

bleu papi #0190A5 - #0093A7
bleu #243183
gris #9B9B9B
gris foncé #343434
gris clair #DBDBDB
*/
//Colors table
// --------------------------------------------------

@grayMedium:            #777;
@grayLightMedium:       #d4d4d4;

@blueLight:             #0093A7;
@blue:                  #049cdb;
@blueDark:              #243285;
@blueDarkLight:         fade(@blueDark,70%);
@green:                 #52A624;
@greenLight:            #7AC943;
@greenDark:             #7AA50F;
@red:                   #EE1A2A;
@redLight:              #ed303f;
@orange:                #F7931E;
@orangeLight:           #ed9f44;
@pinkLight:             #D6B5D8;

@beige:                 #E4DAC1;
@beigeLight:            #F2EAD6;
@brownLight:            #998675;
@brown:                 #796a5c;
@brownDark:             #6B5E52;

@grayDarkFade:          fade(@grayDark,20%);
@grayDarkMoreFade:      fade(@grayDark,5%);

//Colors elements
// --------------------------------------------------

@bodyBackground:                @grayLighter;

@contentBackground:             @white;
@lightBackground:               fade(@white,70%);

@containerBackground:           @beigeLight;
@containerBackgroundImage:      url(img/background.png);

@boxBackground:                 @brown;
@boxBackgroundHover:            @brownDark;
@boxColor:                      @white;

@linkColor:                     @grayDarker;

@AsideTextColor:                @gray;
@NavLinkColor:                  @AsideTextColor;
@NavLinkColorHover:             @grayDark;

@NavLinkBackground:             @grayDarkMoreFade;
@NavLinkBackgroundHover:        @grayDarkFade;

@NavTopLinkColor:               @grayDark;
@NavTopLinkColorHover:          @grayMedium;
@NavTopBackground:              @grayLightMedium;

@NavTopSecondaryLinkColor:      @white;
@NavTopSecondaryLinkColorHover: @white;
@NavTopSecondaryBackground:     @brownDark;


//Shadow and border
// --------------------------------------------------
@boxShadow:             0px 0px 3px @gray;
@boxShadowLeft:         -4px 0px 3px @gray;
@boxShadowRight:        0px 3px 3px @gray;

@boxShadowInset:        0px 0px 2px @gray inset;
@boxShadowInsetLeft:    1px 0px 1px @gray inset;
@boxShadowInsetRight:   -1px 0px 1px @gray inset;

@boxBorder:             3px @brownLight solid;
@contentBorder:         2px @grayLighter solid;
@buttonBorder:          1px @white solid;
@buttonBorderActive:    1px @brownLight solid;

@textHeaderShadowInset: 1px 1px 0px @white;

@sansFontFamilyOther:   Amble, Helvetica, Arial, sans-serif;
@headingsFontFamily:    @sansFontFamilyOther;
@headingsColor:         @blueDark;

@LongTextFontFamily:    @sansFontFamilyOther;

@HeaderFontFamily:      Chivo, Georgia, "Times New Roman", Times, serif;
@HeaderColor:           @blueDarkLight;

@wellBackground:        transparent;
@heroUnitBackground:    transparent;

//Margin & padding
// --------------------------------------------------

@contentMargin: 60px;
@contentMarginResponsive: 30px;
@contentPadding: 30px;
@contentPaddingResponsive: 20px;

@contentWidth: 800px;
@boxSize: @contentWidth / 5 - @contentPadding - @contentPadding;

@containerWidth: 1170px;

@asideWidth: 300px;
@asideContentWidth: @asideWidth - @contentPadding - @contentPadding;