[(#REM)
---Theme Infini---
On retire le logo de rubrique
]
<BOUCLE_hero(ARTICLES){id_article}>
<article class="hentry">
    <header class="cartouche cartouche-edito">
        <h2 class="entry-title"><a href="#URL_ARTICLE" rel="bookmark">#TITRE</a></h2>
        <p class="publication"><time pubdate="pubdate" datetime="[(#DATE|date_iso)]"><i class="icon-calendar"></i> [(#DATE|nom_jour) ][(#DATE|affdate)]</time>[<span class="authors"><span class="sep">, </span><:par_auteur:> (#LESAUTEURS)</span>]</p>
        <div class="postmeta">
                #MODELE{article_traductions}
            <BOUCLE_nb_commentaires(FORUMS) {id_article}{plat} />[(#TOTAL_BOUCLE|oui)
                <span class="comments">
                <span class="sep">|</span>
                <a[ href="(#REM|ancre_url{comments})"] [title="(#TOTAL_BOUCLE|singulier_ou_pluriel{zcore:info_1_commentaire,zcore:info_nb_commentaires}|attribut_html)"]>[<i class="icon-comment"></i> (#TOTAL_BOUCLE)]</a>
                </span>
                ]
            <//B_nb_commentaires>
            <BOUCLE_combien(SIGNATURES) {id_article}{plat} />[(#TOTAL_BOUCLE|oui)
                <span class="signatures">
                <span class="sep">|</span>
                <a[ href="(#REM|ancre_url{petition})"] [title="(#TOTAL_BOUCLE|singulier_ou_pluriel{zcore:info_1_signature,zcore:info_nb_signatures}|attribut_html)"]>[<i class="icon-ok-circle"></i> (#TOTAL_BOUCLE)]</a>
                </span>
                ]
            <//B_combien>
                <B_tags>
                <span class="tags">
                    <span class="sep">|</span>
                    <i class="icon-tag"></i> 
                    <ul class="inline">
                        <BOUCLE_tags(MOTS){id_article}>
                        <li class="tag-#TITRE"><a class="label" title="Voir toute les actualités en lien avec #TITRE" href="#URL_MOT">#TITRE</a></li>
                        </BOUCLE_tags>
                    </ul>
                </span>
                </B_tags>
        </div>
    </header>
    <div class="chapo">
        #CHAPO
    </div>
    <div class="texte">
        #TEXTE
    </div>
</article>
</BOUCLE_hero>
