[(#REM)
	Barre de navigation, ouverte sur la hierarchie courante

	On fait un plan, et, quand on avance vers une rubrique,
	on l'affiche si son parent est expose ou est la racine du site. ]
<B_rubriques>
<nav class="menu-rubriques">
	<ul class="nav nav-list">
    [(#REM) On retire de la liste les rubriques exclues du menu de navigation (mot clé exclu-menu) ]
	<BOUCLE_rubriques(RUBRIQUES) {racine} {par num titre, titre} {!titre_mot='exclu-menu'}>
		<li class="#EXPOSE{active}">
			<a href="#URL_RUBRIQUE"[ class="(#EXPOSE)"]>
                [#LOGO_RUBRIQUE_NORMAL
                <span class="btn-title">(#TITRE|couper{80})</span>]
            </a>

            <B_sous_rubriques>
                <ul class="nav nav-list">
                    <BOUCLE_sous_rubriques(RUBRIQUES) {id_parent} {par num titre, titre}{!titre_mot='exclu-menu'}>
                        <BOUCLE_test_expose(RUBRIQUES) {id_enfant}>#EXPOSE{' '}</BOUCLE_test_expose>
                        <li class="#EXPOSE{active}">
                            <a href="#URL_RUBRIQUE"[ class="(#EXPOSE)"]>[(#TITRE|couper{80})]</a>
                            <BOUCLE_re(BOUCLE_sous_rubriques)></BOUCLE_re>
                        </li>
                    </BOUCLE_sous_rubriques>
                </ul>
            </B_sous_rubriques>

		</li>
	</BOUCLE_rubriques>

	</ul>

    <ul class="nav nav-list mobile">
    [(#REM) On affiche les rubriques exclues du menu de navigation sur les téléphones mobiles (mot clé exclu-menu) ]
	<BOUCLE_rubriques_mobile(RUBRIQUES) {racine} {par num titre, titre} {titre_mot='exclu-menu'}>
		<li class="#EXPOSE{active}">
			<a href="#URL_RUBRIQUE"[ class="(#EXPOSE)"]>
                [#LOGO_RUBRIQUE_NORMAL<!--|image_reduire{140,*}-->
                <span class="btn-title">(#TITRE|couper{80})</span>]
            </a>
		</li>
	</BOUCLE_rubriques_mobile>

	</ul>
</nav>
</B_rubriques>
