<body>
<div id="menu-clavier">
    <ul class="nav no-mobile">
        [(#SI_PAGE{sommaire}|non)<li><a rel="start home" href="#URL_SITE_SPIP/" title="<:accueil_site:>" tabindex="1">Revenir à l'accueil</a></li>]
        <li><a tabindex="2" href="#content">Aller au contenu</a></li>
        <li><a tabindex="3" href="#topmenu">Aller au menu du haut</a></li>
        <li><a tabindex="4" href="#aside">Aller au menu principal</a></li>
        <li><a tabindex="5" href="#formulaire_recherche">Aller à la recherche</a></li>
        <li><a tabindex="6" href="#footer">Aller au pied de page</a></li>
        <li class="gotop"><a tabindex="7" href="#top">Aller en haut de page</a></li>
    </ul>
</div>

<div id="top" tabindex="8">
    <div id="page"> <!-- Balise pour ouverture/fermeture menu responsive -->
        
        
        <a id="responsive-button-open" class="responsive-button" href="#page">MENU</a>
        <a id="responsive-button-close" class="responsive-button" href="#"></a>
    
        [(#REM) Nouveau topmenu]
        <nav id="topmenu" class="topmenu no-mobile">
            #INCLURE{fond=inclure/menu, identifiant=topmenu}
        </nav>

        <div class="spip-admin-float">
            <INCLURE{fond=inclure/menu,identifiant=top_right,env} />
        </div>

        <noscript>Pour naviguer correctement sur ce site, <a href="http://www.enable-javascript.com/fr/">activez javascript</a>.</noscript>

        <div id="site" class="page <BOUCLE_mots_cles_rub(MOTS){id_rubrique}{tout}>#TITRE </BOUCLE_mots_cles_rub>" >
            
            <div class="header" id="header">
                <INCLURE{fond=header/#ENV{type-page},env} />

                <BOUCLE_breves(BREVES) {par date}{inverse}{titre_mot="important"} {pagination 1}>
                    <div id="breve-tech-important" class="no-mobile">
                    #INCLURE{fond=inclure/resume/breve,id_breve}
                    </div>
                </BOUCLE_breves>
            </div>

            <div class="container">
                [(#REM) Fil d'ariane <!--<INCLURE{fond=breadcrumb/#ENV{type-page},env} />--> ]
                <div class="aside secondary col" id="aside">
                    
                    <!-- Topmenu Responsive -->
                    <div id="mobile-menu" class="mobile">
                        <nav class="topmenu responsive">
                            #INCLURE{fond=inclure/menu, identifiant=topmenu}
                        </nav>
                    </div>
                    
                    <INCLURE{fond=aside/#ENV{type-page},env} />

                    [(#REM) Menu des actualités ]
                    [<div class="extra">
                        (#INCLURE{fond=inclure/menu, identifiant=menu_actus})
    <!--                [(#REM) #INCLURE{fond=extra/#ENV{type-page},env} ]-->
                    </div>]

                    [(#REM) Menu Etat des services ]
                    [<div class="extra" id="etat-services">
                        (#INCLURE{fond=inclure/menu, identifiant=menu_services})
                    </div>]


                    <div class="footer" id="footer">
                        <INCLURE{fond=footer/#ENV{type-page},env} />
                    </div>
                    <div class="gotop">
                        <a href="#top">Haut de page</a>
                    </div>
                </div><!---@white-space
                        http://www.alsacreations.com/astuce/lire/1432-display-inline-block-espaces-indesirables.html
                --><div class="content" id="content">
                    <INCLURE{fond=breadcrumb/#ENV{type-page},env} />
                    <INCLURE{fond=content/#ENV{type-page},env} />
                </div>
            </div>
        </div>

    </div> <!-- Balise pour ouverture/fermeture menu responsive -->
    
</div>

[<script src="(#CHEMIN{topmenu.js})" type="text/javascript" async></script>]

<script type="text/javascript">
    $(document).ready(function() {
        /* menu clavier*/
        $('#menu-clavier a').focusin(function() {
            $('#menu-clavier').addClass('show');
        });
        /*ajoute l'attribut target aux .spip_out*/
        $('a.spip_out, .sites a').attr("target", "_blank").attr("rel", "external");
        /*ajoute l'attribut title aux boutons du topmenu (pour les icones sans texte)*/
        $('#spip-admin .spip-admin-boutons, .login a, .logout a').each(function(){
            $(this).attr('title', $(this).text());
        });
        /*empeche le "clic" pour les entree .sousmenu sur mobile*/
        $('.topmenu.responsive > .menu-items > .sousmenu > a').click(function(e) {
            e.preventDefault();
        });
    });
</script>
        
</body>