[<link rel="stylesheet" type="text/css" href="(#CHEMIN{topmenu.css})" />]
[<link rel="stylesheet" type="text/css" href="(#CHEMIN{topmenu_spip-admin.css})" />]
[<link rel="stylesheet" type="text/css" href="(#CHEMIN{icons.css})" />]

[<script src="(#CHEMIN{js/jquery.title.min.js})" type="text/javascript"></script>]

[<meta property="og:title" content="(#NOM_SITE_SPIP|supprimer_tags|textebrut|attribut_html)" />]
<meta property="og:type" content="website" />
<meta property="og:url" content="#URL_SITE_SPIP" />
[<meta property="og:image" content="(#LOGO_SITE_SPIP|extraire_attribut{src}|url_absolue)" />]