<BOUCLE_content(ARTICLES){id_article}>
<article>
    [(#REM) On utilise SURTITRE de façon détourné pour un lien externe ]
    <a class="lien [(#TITRE|attribut_html)]" href="#SURTITRE" target="_blank">
        <header>
            <h3 class="entry-title">#TITRE[
                <small class="#EDIT{soustitre} soustitre">(#SOUSTITRE)</small>
            ]</h3>
        </header>

        <div class="main">
            [<div class="#EDIT{chapo} chapo surlignable">(#CHAPO|adaptive_images)</div>]
            [<div class="#EDIT{texte} texte surlignable">(#TEXTE|adaptive_images)</div>]
        </div>
    </a>
</article>
</BOUCLE_content>