<BOUCLE_content(RUBRIQUES){id_rubrique}>
<section>

	<header class="cartouche">
		[(#LOGO_RUBRIQUE|image_reduire{200,200})]
		<h1 class="#EDIT{titre}">#TITRE</h1>
		[<p class="publication"><time pubdate="pubdate" datetime="[(#DATE|date_iso)]"><:dernier_ajout:> : (#DATE|affdate_jourcourt).</time></p>]
	</header>

	<div class="main">

        [(#REM) Affiche le menu des outils]
        <BOUCLE_menu_outils(RUBRIQUES){id_rubrique}{titre_mot="outils-libres"}>
            [<nav class="menu-outils">
                <h2 class="h2">Accès direct aux outils libres & collaboratifs</h2>
                (#INCLURE{fond=inclure/menu, env, identifiant=menu_accueil})
                <small>Depuis n'importe quelle page, cliquez sur <a href="#degooglisons">Outils libres</a> du menu supérieur.</small>
            </nav>]
        </BOUCLE_menu_outils>
        
        [<div class="#EDIT{texte} chapo no-mobile">(#TEXTE|adaptive_images)</div>]
        
        [(#ID_RUBRIQUE|=={#CONFIG{theme_infini/rubrique_adherents,42}}|oui)[(#INCLURE{fond=inclure/carte_adherents})]]
        
        [(#REM) Affiche le calendrier]
        <BOUCLE_calendrier(RUBRIQUES){id_rubrique}{titre_mot="calendrier"}>
            <div class="calendrier">
                #CALENDRIER_MINI{#ENV{date},date,#URL_PAGE{jour},#URL_PAGE{calendrier_mini_event.json,id_rubrique=#ID_RUBRIQUE}}
            </div>
        </BOUCLE_calendrier>
        
		[(#REM) Si aucun article, affiche un plan de la rubrique ]
		[(#REM) Modification : même s'il y a des articles, on affiche la liste des sous-rubriques (pas de mini-plan) ]
		<B_sous_rubriques>
		<div class="rubriques">
			<h2 class="h2"><:sous_rubriques:></h2>
			<ul class="liste-items">
				<BOUCLE_sous_rubriques(RUBRIQUES) {id_parent} {par num titre, titre}>
				<li class="item entry-title">
					<a href="#URL_RUBRIQUE">
                        [#LOGO_RUBRIQUE_NORMAL
                        <span class="btn-title">(#TITRE)</span>]
                    </a>
				</li>
				</BOUCLE_sous_rubriques>
			</ul>
			</div>
		</B_sous_rubriques>
            
        <BOUCLE_actus(RUBRIQUES){id_rubrique}{titre_mot="actus"}>
        [(#REM) Derniers articles pour la rubrique actus {groupe actus}]
            <div class="liste long articles">
                <INCLURE{fond=liste/articles-resume-actus,env,ajax,titre=<:articles_rubrique:>} />
            </div>
        [(#REM) Archives pour la rubrique actus {groupe actus}]
            <div class="liste long articles">
                <INCLURE{fond=liste/articles-resume-actus-archives,env,ajax,titre=<:articles_rubrique:>} />
            </div>
        </BOUCLE_actus>
            
        [(#REM) Petits articles complets affichés en grille]
        <BOUCLE_grille(RUBRIQUES){id_rubrique}{titre_mot="grille"}>
            <div class="liste articles grille">
			     <INCLURE{fond=liste/articles-complet,env,titre=<:articles_rubrique:>} />
            </div>
        </BOUCLE_grille>
            
        [(#REM) Articles dans l'ordre antéchronologique]
        <BOUCLE_inverse(RUBRIQUES){id_rubrique}{titre_mot="liste-inverse"}>
            <div class="liste articles">
                <INCLURE{fond=liste/articles-resume-inverse,env,ajax,titre=<:articles_rubrique:>} />
            </div>
        </BOUCLE_inverse>
            
        [(#REM) Articles pour les autres rubriques (par titre)]
        <BOUCLE_autres(RUBRIQUES){id_rubrique}{!titre_mot="liste-inverse"}{!titre_mot="grille"}{!titre_mot="actus"}>
            <div class="liste articles">
                <INCLURE{fond=liste/articles-resume,env,ajax,titre=<:articles_rubrique:>} />
            </div>
        </BOUCLE_autres>
        [(#REM) On affiche le chapo après le menu sur les mobiles]
        [<div class="#EDIT{texte} chapo mobile">(#TEXTE|adaptive_images)</div>]
	</div>

	<aside><!-- https://developer.mozilla.org/fr/docs/Web/CSS/:empty -->[(#REM) Gestion du portfolio et des documents ][(#INCLURE{fond=inclure/documents,id_rubrique})][(#REM) Breves du secteur ]<B_breves><div class="liste breves"><h2 class="h2"><:breves:breves:></h2>#ANCRE_PAGINATION<ul class="liste-items"><BOUCLE_breves(BREVES) {id_rubrique} {age < 365} {par date}{inverse} {pagination 5}><li class="item">#INCLURE{fond=inclure/resume/breve,id_breve}</li></BOUCLE_breves></ul>[<div class="pagination">(#PAGINATION)</div>]</div></B_breves>[(#REM) Sites de la rubrique ]<B_sites><div class="liste sites"><h2 class="h2"><:sur_web:></h2><ul class="liste-items">
<BOUCLE_sites(SITES) {id_rubrique} {par hasard}><li class="item short">#INCLURE{fond=inclure/resume/site,id_syndic}<B_syndic><ul class="spip">
<BOUCLE_syndic(SYNDIC_ARTICLES) {id_syndic} {age<180} {par date}{inverse} {0,3}><li class="short with-publication-inline">#INCLURE{fond=inclure/resume/syndic_article,id_syndic_article}</li>
</BOUCLE_syndic></ul></B_syndic></li>
</BOUCLE_sites></ul></div></B_sites>[(#REM) Proposer un site ]#FORMULAIRE_SITE</aside>

	<footer>
		[<div class="notes"><h2><:info_notes:></h2>(#NOTES)</div>]
	</footer>

</section>
</BOUCLE_content>