<div id="menu-sommaire">
    [<nav class="menu-accueil">
        <h2 class="h2">Accès direct aux outils libres & collaboratifs</h2>
        (#INCLURE{fond=inclure/menu, env, identifiant=menu_accueil})
        <small>Depuis n'importe quelle page, cliquez sur <a href="#degooglisons">Outils libres</a> du menu supérieur.</small>
    </nav>]
</div >
<section>
	<header class="cartouche hide">
		<h1>#NOM_SITE_SPIP</h1>
	</header>

	<div class="main">
		<div class="liste long articles">
		  <INCLURE{fond=liste/articles-resume-actus,env} />
		</div>

		[<div id="descriptif_site_spip">
			(#DESCRIPTIF_SITE_SPIP)
		</div>]

		<BOUCLE_presentation(ARTICLES){titre_mot="presentation"}{doublons}{par date}{0,1}>
		<div id="presentation">
			<INCLURE{fond=inclure/article-hero,id_article,env} />
		</div>
		</BOUCLE_presentation>
	</div>
</section>
