<p class="colophon">
<BOUCLE_annee(ARTICLES){par date}{0,1}>[(#DATE|annee|!={#VAL{Y}|date}|oui)[(#DATE|annee)]]</BOUCLE_annee>-</B_annee>[(#DATE|annee) ] &mdash; #NOM_SITE_SPIP<br />
<a rel="contents" href="#URL_PAGE{plan}"><:plan_site:></a><?php
if (isset($GLOBALS['visiteur_session']['id_auteur']) AND $GLOBALS['visiteur_session']['id_auteur']) {
?><span class="sep"> | </span><a href="#URL_LOGOUT" rel="nofollow"><:icone_deconnecter:></a><?php
	if (include_spip('inc/autoriser') AND autoriser('ecrire')){
	?><span class="sep"> | </span><a href="#EVAL{_DIR_RESTREINT_ABS}"><:espace_prive:></a><?php
	}
}
else {
?><span class="sep"> | </span><a href="[(#URL_PAGE{login}|parametre_url{url,#SELF|parametre_url{url,''}})]" rel="nofollow" class='login_modal'><:lien_connecter:></a><?php
}
?><span class="sep"> |
</span><a href="#URL_PAGE{backend}" rel="alternate" title="<:syndiquer_site:>">[(#CHEMIN{feed.png}|balise_img{<:icone_suivi_activite:>})]&nbsp;RSS&nbsp;2.0</a>
</p>
<small class=""><a href="http://www.april.org/" title="April - Promouvoir et soutenir le logiciel libre" class="spip_out"><img src="#CHEMIN{img/logo-april.png}" alt="April - Promouvoir et soutenir le logiciel libre"/></a></small>
<small class="generator"><a href="http://www.spip.net/" rel="generator" title="<:site_realise_avec_spip:>" class="spip_out">[(#CHEMIN{spip.png}|balise_img{SPIP})]</a></small>


