[(#REM)
On charge 10 articles {nb,10} au lieu de {nb,5}
]
<B_articles>
	#ANCRE_PAGINATION
	<h2 class="h2">[(#ENV{titre,<:derniers_articles:>})]</h2>
	<ul class="liste-items">
		<BOUCLE_articles(ARTICLES){id_rubrique?} {!par date}{!titre_mot='masque'}{!id_article IN #ENV{articles_exclus,#ARRAY}} {pagination #ENV{nb,10}}>
		<li class="item">#INCLURE{fond=inclure/resume/article,id_article}</li>
		</BOUCLE_articles>
	</ul>
	[<div class="pagination">(#PAGINATION)</div>]
</B_articles>