[(#REM) Edito {mot clé edito} ]
<BOUCLE_edito (ARTICLES) {type_mot="actus"} {titre_mot="edito"} {doublons} {!par date}>
    <div class="edito">
        <INCLURE{fond=inclure/article-hero,id_article,env} />
    </div>
</BOUCLE_edito>

[(#REM) Dernières actus]
<B_articles>
	#ANCRE_PAGINATION
	<h2 class="h2">Dernières actualités</h2>
	<ul class="liste-items">
		<BOUCLE_articles(ARTICLES){id_rubrique?} {doublons} {!par date}{type_mot="actus"} {!titre_mot="archives"} {!id_article IN #ENV{articles_exclus,#ARRAY}} {pagination #ENV{nb,3}}>
		<li class="item">#INCLURE{fond=inclure/resume/article,id_article}</li>
		</BOUCLE_articles>
	</ul>
	[<div class="pagination">(#PAGINATION)</div>]
</B_articles>