[(#REM) Actualités en vrac (sans mot clé) ]
<B_vrac>
<div class="vrac">
    #ANCRE_PAGINATION
    <h2 class="h2">Actualités non classées</h2>
    <ul class="liste-items">
        <BOUCLE_vrac(ARTICLES){id_rubrique?} {!type_mot="actus"} {!par date}{!id_article IN #ENV{articles_exclus,#ARRAY}} {pagination #ENV{nb,3}}>
        <li class="item">#INCLURE{fond=inclure/resume/article,id_article}</li>
        </BOUCLE_vrac>
    </ul>
    [<div class="pagination">(#PAGINATION)</div>]
</div>
</B_vrac>

[(#REM) Archives des anciennes actualités (mot clé archives) ]
<B_archives>
<div class="archives">
    #ANCRE_PAGINATION
    <h2 class="h2">Archives des actualités passées</h2>
    <ul class="liste-items">
        <BOUCLE_archives(ARTICLES){id_rubrique?} {titre_mot="archives"} {!par date}{!id_article IN #ENV{articles_exclus,#ARRAY}} {pagination #ENV{nb,3}}>
        <li class="item">#INCLURE{fond=inclure/resume/article,id_article}</li>
        </BOUCLE_archives>
    </ul>
    [<div class="pagination">(#PAGINATION)</div>]
    <BOUCLE_mot_archive(MOTS){titre="archives"}>
            <a href="#URL_MOT">Toutes les archives</a>
    </BOUCLE_mot_archive>
</div>
</B_archives>