[(#REM)
On inverse ordre de tri {par date} au lieu de {!par date}
On charge 10 articles {nb,10} au lieu de {nb,5}
]
<B_articles>
	<ul class="liste-items">
		<BOUCLE_articles(ARTICLES){id_rubrique?} {par date}{!titre_mot='masque'}{!id_article IN #ENV{articles_exclus,#ARRAY}}>
		<li id="art#ID_ARTICLE" class="item">#INCLURE{fond=content/mini-article,id_article}</li>
		</BOUCLE_articles>
	</ul>
</B_articles>