<div class="row">
<header class="accueil clearfix span9">
	[(#SI_PAGE{sommaire}|non)<a rel="start home" href="#URL_SITE_SPIP/" title="<:accueil_site:>"
	>]<h1 id="logo_site_spip"[ class="(#EDIT{meta-nom_site})"]>[(#LOGO_SITE_SPIP|image_reduire{240,110}) ]#NOM_SITE_SPIP
	[<small id="slogan_site_spip"[ class="(#EDIT{meta-slogan_site})"]>(#SLOGAN_SITE_SPIP)</small>]
	</h1>[(#SI_PAGE{sommaire}|non)</a>]
</header>
<div class="span3">
#MENU_LANG
</div>
</div>
