[(#REM)

  Squelette Presentation resumee d'un article dans une liste
  Distribue sous licence GPL

On ajoute les tags
On déplace publication (date et auteurs) en bas
On rend cliquable le résumé
Ajout du comptage de caractères pour gérer l'affichage des lettrines (s'il y a moins de 140 caractères on ne met pas de lettrine)
]
<BOUCLE_articles(ARTICLES) {id_article} {statut?}>
<article class="entry article hentry">
	<strong class="h3-like entry-title"><a href="#URL_ARTICLE" rel="bookmark">#TITRE<span class="read-more hide"><i class="icon-chevron-right" title="<:zcore:lire_la_suite|attribut_html:><:zcore:lire_la_suite_de|attribut_html:>&laquo;[(#TITRE|attribut_html)]&raquo;"></i></span></a></strong>
        <div class="postmeta">
            #MODELE{article_traductions}
        <BOUCLE_nb_commentaires(FORUMS) {id_article}{plat} />[(#TOTAL_BOUCLE|oui)
            <span class="comments">
            <span class="sep">|</span>
            <a[ href="(#REM|ancre_url{comments})"] [title="(#TOTAL_BOUCLE|singulier_ou_pluriel{zcore:info_1_commentaire,zcore:info_nb_commentaires}|attribut_html)"]>[<i class="icon-comment"></i> (#TOTAL_BOUCLE)]</a>
            </span>
            ]
        <//B_nb_commentaires>
        <BOUCLE_combien(SIGNATURES) {id_article}{plat} />[(#TOTAL_BOUCLE|oui)
            <span class="signatures">
            <span class="sep">|</span>
            <a[ href="(#REM|ancre_url{petition})"] [title="(#TOTAL_BOUCLE|singulier_ou_pluriel{zcore:info_1_signature,zcore:info_nb_signatures}|attribut_html)"]>[<i class="icon-ok-circle"></i> (#TOTAL_BOUCLE)]</a>
            </span>
            ]
        <//B_combien>
            <B_tags>
            <span class="tags">
                <span class="sep">|</span>
                <i class="icon-tag"></i> 
                <ul class="inline">
                    <BOUCLE_tags(MOTS){id_article} {0,3}>
                    <li><a class="label" title="Voir toutes les actualités en lien avec #TITRE" href="#URL_MOT">#TITRE</a></li>
                    </BOUCLE_tags>
                </ul>
            </span>
            </B_tags>
        </div>
<?php 
$nbr = [(#INTRODUCTION|textebrut|strlen)];
if ($nbr < 140){$no_drop_cap = 'no-drop-cap';}
else           {$no_drop_cap = NULL;}
?>
    <a href="#URL_ARTICLE" class="lien-introduction">
        [<div class="#EDIT{intro} introduction entry-content <?php echo $no_drop_cap; ?>">(#INTRODUCTION{#ENV{coupe,300}})</div>]
    </a>
    <p class="publication">[<time pubdate="pubdate" datetime="[(#DATE|date_iso)]"><i class="icon-calendar"></i> (#DATE|affdate_jourcourt)</time>][<span class="authors"><span class="sep">, </span><!--<i class="icon-user"></i> --><:par_auteur:> (#LESAUTEURS)</span>]</p>
</article>
</BOUCLE_articles>