[(#REM)

  Squelette Presentation resumee d'un document dans une liste
  Distribue sous licence GPL

]
<BOUCLE_resume_document(DOCUMENTS) {id_document} {statut?}>
<article class="entry document spip_doc[ (#EXTENSION|attribut_html)]">
    <i aria-hidden="true" class="fa fa-file"></i>
	<strong class="entry-title"><a href="#URL_DOCUMENT" rel="bookmark" type="#MIME_TYPE" title="<:bouton_telecharger:> [(#TYPE_DOCUMENT) - ][(#TAILLE|taille_en_octets)]" >[(#TITRE|sinon{#FICHIER|basename|couper{80}})]</a></strong>
	<p class="publication">[<time pubdate="pubdate" datetime="[(#DATE|date_iso)]"><i class="icon-calendar"></i> (#DATE|affdate_jourcourt)</time>]
	<span class="type"><span class="sep"> - </span>[(#TYPE_DOCUMENT)]</span><span class="poids"><span class="sep"> - </span>[(#TAILLE|taille_en_octets)]</span>
	</p>
	[<div class="#EDIT{descriptif} introduction entry-content">(#DESCRIPTIF|couper{#ENV{coupe,300}})</div>]
</article>
</BOUCLE_resume_document>